// Colors
$primary: #eb3e4f !default;
$secondary: #313131;
$azulClaro: #3ecceb;
$blanco: #fff;
$negro: #000;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "azulClaro": $azulClaro,
  "blanco": $blanco,
  "negro": $negro,
);
$grid-columns:      12 !default;
$grid-gutter-width: 1.5rem !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px,
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1500px,
) !default;