@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'variables';

html {
    position: relative;
    min-height: 100%;
}
  
body {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;

    .capaLoader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(256, 256, 256, 0.7);
        z-index: 999;
        display: flex;

        .preloader {
            margin: auto;
            width: 70px;
            height: 70px;
            border: 10px solid #f6acb4;
            border-top: 10px solid #EB3E4F;
            border-radius: 50%;
            animation-name: girar;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
    @keyframes girar {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .capaFormulario {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 9999;
        background-color: rgba(0,0,0,0.7);
        top: 0;
        display: none;

        .contFormulario {
            max-width: 800px;
            margin: 0 auto;
            margin-top: 5%;

            .btnCerrar {
                text-transform: uppercase;
                background-color: white;
                color: #eb3e4f;
                display: block;
                width: fit-content;
                padding: 1% 2%;

                &:hover {
                    cursor: pointer;
                }
            }

            form {
                background-color: #eb3e4f;
                padding: 2rem;
                border-radius: 0 25px 0 25px;

                .form-check-label {
                    color: #ffffff;
                }
            }
        }
    }


    header {
        .contRedes {
            a.ico-redes {
                color: rgb(177, 175, 175);
                margin-right: 4px;
            }

            .facebookIco:hover {
                color: #3b5998;
            }
            .twitterIco:hover {
                color: #55acee;
            }
            .youtubeIco:hover {
                color: #bb0000;
            }
            .linkedinIco:hover {
                color: #007bb5;
            }
           
        }
    }

    #content {
        margin-bottom: 25px;
    }
  
    .adsbygoogle {
        margin-bottom: 15px;
    }
  
    .footer-content {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #buscadorCampos {
        opacity: 0;
    }

    #infoNoEnecontrado {
        display: none;
    }
  
    .footer {
        bottom: 0;
        margin-top: 3rem;
        background-color: $secondary;
        padding: 3rem 0;

        .contRedes {
            a.ico-redes {
                color: rgb(177, 175, 175);
                margin-right: 4px;
            }

            .facebookIco:hover {
                color: #3b5998;
            }
            .twitterIco:hover {
                color: #55acee;
            }
            .youtubeIco:hover {
                color: #bb0000;
            }
            .linkedinIco:hover {
                color: #007bb5;
            }
           
        }
    }
  
    .footer a {
        color: $blanco;
        text-decoration: none;
    }
  
    .footer a:hover {
        color: #fff;
    }

    .visible {
        display: block;
    }

    .oculto {
        display: none;
    }

    .carousel {
        position: relative;
        height: 314px;

        .carousel-inner {
            height: 100%;

            .carousel-item {
                height: 100%;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .contDatos {
        height: 100%;

        .nombreLocal {
            font-weight: 700;
            display: flex;
            align-items: center;
            min-height: 50px;
        }

        .contDescripcion {
            line-height: 1.2;
            color: $secondary;
            font-weight: 300;
            min-height: 60px;
        }
        
        .textDatos {
            .etiquetaCont {
                font-weight: 500;
                display: inline;
            }
        
            .descripcionCont {
                display: inline;
                font-weight: 300;
            }
        }

        .textDatosCol {
            display: inline-grid;
            width: 25%;

            .etiquetaContCol {
                font-weight: bold;
                display: block;
                text-align: center;
            }
        
            .descripcionContCol {
                display: block;
                text-align: center;
            }
        }

        .codigoLocal {
            font-weight: bold;
            font-size: 0.9rem;
        }
    }

    .botonConsultar {
        display: block;
        text-align: center;
        text-transform: uppercase;
    }

    .btn-primary {
        background-color: $primary;
        border-color: $primary;
        border-radius: 0;

        &:hover {
            background-color: $secondary;
            border-color:$secondary;
        }
    }

    .btn-principl {
        background-color: $primary;
        border-color: $primary;
        border-radius: 0;

        &:hover {
            background-color: $secondary;
            border-color:$secondary;
        }
    }

    .totop {
        position: fixed;
        bottom: 10px;
        right: 20px;
        z-index: 999;
    }
    
    .totop a {
        display: none;
    }

    #loadMore {
        background-color: $secondary;
        border-color: $secondary;
        border-radius: 0;
        color: $primary;
        text-transform: uppercase;
        width: 100%;
    }

    #loadMore:hover {
        background-color: #fff;
        color: #33739E;
    }

    h2.mialerta {
        font-size: 1.6rem;
        text-align: center;
    }
}
