@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 5px;
  font-family: 'Roboto', sans-serif; }
  body .capaLoader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 999;
    display: flex; }
    body .capaLoader .preloader {
      margin: auto;
      width: 70px;
      height: 70px;
      border: 10px solid #f6acb4;
      border-top: 10px solid #EB3E4F;
      border-radius: 50%;
      animation-name: girar;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
@keyframes girar {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
  body .capaFormulario {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    display: none; }
    body .capaFormulario .contFormulario {
      max-width: 800px;
      margin: 0 auto;
      margin-top: 5%; }
      body .capaFormulario .contFormulario .btnCerrar {
        text-transform: uppercase;
        background-color: white;
        color: #eb3e4f;
        display: block;
        width: fit-content;
        padding: 1% 2%; }
        body .capaFormulario .contFormulario .btnCerrar:hover {
          cursor: pointer; }
      body .capaFormulario .contFormulario form {
        background-color: #eb3e4f;
        padding: 2rem;
        border-radius: 0 25px 0 25px; }
        body .capaFormulario .contFormulario form .form-check-label {
          color: #ffffff; }
  body header .contRedes a.ico-redes {
    color: #b1afaf;
    margin-right: 4px; }
  body header .contRedes .facebookIco:hover {
    color: #3b5998; }
  body header .contRedes .twitterIco:hover {
    color: #55acee; }
  body header .contRedes .youtubeIco:hover {
    color: #bb0000; }
  body header .contRedes .linkedinIco:hover {
    color: #007bb5; }
  body #content {
    margin-bottom: 25px; }
  body .adsbygoogle {
    margin-bottom: 15px; }
  body .footer-content {
    margin-top: 20px;
    margin-bottom: 20px; }
  body #buscadorCampos {
    opacity: 0; }
  body #infoNoEnecontrado {
    display: none; }
  body .footer {
    bottom: 0;
    margin-top: 3rem;
    background-color: #313131;
    padding: 3rem 0; }
    body .footer .contRedes a.ico-redes {
      color: #b1afaf;
      margin-right: 4px; }
    body .footer .contRedes .facebookIco:hover {
      color: #3b5998; }
    body .footer .contRedes .twitterIco:hover {
      color: #55acee; }
    body .footer .contRedes .youtubeIco:hover {
      color: #bb0000; }
    body .footer .contRedes .linkedinIco:hover {
      color: #007bb5; }
  body .footer a {
    color: #fff;
    text-decoration: none; }
  body .footer a:hover {
    color: #fff; }
  body .visible {
    display: block; }
  body .oculto {
    display: none; }
  body .carousel {
    position: relative;
    height: 314px; }
    body .carousel .carousel-inner {
      height: 100%; }
      body .carousel .carousel-inner .carousel-item {
        height: 100%; }
        body .carousel .carousel-inner .carousel-item img {
          height: 100%;
          object-fit: cover; }
  body .contDatos {
    height: 100%; }
    body .contDatos .nombreLocal {
      font-weight: 700;
      display: flex;
      align-items: center;
      min-height: 50px; }
    body .contDatos .contDescripcion {
      line-height: 1.2;
      color: #313131;
      font-weight: 300;
      min-height: 60px; }
    body .contDatos .textDatos .etiquetaCont {
      font-weight: 500;
      display: inline; }
    body .contDatos .textDatos .descripcionCont {
      display: inline;
      font-weight: 300; }
    body .contDatos .textDatosCol {
      display: inline-grid;
      width: 25%; }
      body .contDatos .textDatosCol .etiquetaContCol {
        font-weight: bold;
        display: block;
        text-align: center; }
      body .contDatos .textDatosCol .descripcionContCol {
        display: block;
        text-align: center; }
    body .contDatos .codigoLocal {
      font-weight: bold;
      font-size: 0.9rem; }
  body .botonConsultar {
    display: block;
    text-align: center;
    text-transform: uppercase; }
  body .btn-primary {
    background-color: #eb3e4f;
    border-color: #eb3e4f;
    border-radius: 0; }
    body .btn-primary:hover {
      background-color: #313131;
      border-color: #313131; }
  body .btn-principl {
    background-color: #eb3e4f;
    border-color: #eb3e4f;
    border-radius: 0; }
    body .btn-principl:hover {
      background-color: #313131;
      border-color: #313131; }
  body .totop {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 999; }
  body .totop a {
    display: none; }
  body #loadMore {
    background-color: #313131;
    border-color: #313131;
    border-radius: 0;
    color: #eb3e4f;
    text-transform: uppercase;
    width: 100%; }
  body #loadMore:hover {
    background-color: #fff;
    color: #33739E; }
  body h2.mialerta {
    font-size: 1.6rem;
    text-align: center; }

/*# sourceMappingURL=estilo.css.map */
